body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emojis{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 40%;
    gap: 2%;
  }
  
  .emoji {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    flex-grow: 2;
    
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    flex-grow: 2;
  }
  
  .icon {
    font-size: 4rem;
    order: -2;
   margin-left: 40%;
   flex-basis: 500px;
  }
  